@import "compass/css3";

$color_hamburger: $white;

.hamburger {
    position: relative;
    cursor: pointer;
    .hm {
        position: absolute;
        display: block;
		left: 0;
        width: 30px;
        height: 3px;
        opacity: 1;
        border-radius: 3px;
        background: $color_hamburger;
    }
    .hm-1 {
        top: 0;
        @include transition(transform .3s, top .3s .3s);
    }
    .hm-2 {
        top: 10px;
        @include transition(opacity .3s ease-out);
    }
    .hm-3 {
        top: 20px;
        @include transition(transform .3s, top .3s .3s);
    }
    &.open {
        .hm-1 {
            @include rotate(45deg);
            @include transition(top .3s, transform .3s .3s);
        }
        .hm-1,
        .hm-3 {
            top: 10px;
        }
        .hm-3 {
            @include rotate(-45deg);
            @include transition(top .3s, transform .3s .3s);
        }
        .hm-2 {
            opacity: 0;
        }
    }
}