/// <reference path="_variables.scss" />


.green-btn{
    background: $lightgreen;
    border: none;
    color: $white;
    padding: 10px 20px;
    font-weight: 100;
    font-family:kaleko;
}

//--- Responsive ---\\

// xxs
@media (max-width: $screen-xxs-max) {
}

// xs
@media (max-width: $screen-xs-max) {
}

//sm
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
}

//md
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
}

//lg
@media (min-width: $screen-lg-min) {
}