/// <reference path="_variables.scss" />

@font-face {
    font-family: 'kaleko';
    src: url('../fonts/kaleko_205_round_book-webfont.eot');
    src: url('../fonts/kaleko_205_round_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kaleko_205_round_book-webfont.woff2') format('woff2'),
         url('../fonts/kaleko_205_round_book-webfont.woff') format('woff'),
         url('../fonts/kaleko_205_round_book-webfont.ttf') format('truetype'),
         url('../fonts/kaleko_205_round_book-webfont.svg#kaleko_205_roundbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

//Font Styles

.top-panel h1{
	color: $white;
	font-family: kaleko;
	font-size: 50px;
}

p{
	font-family: kaleko;
    
    &.whitetext {
	    color: $white;
    }
    &.lightbluetext {
	    color: $lightblue;
    }
}


//--- Responsive ---\\

// xxs
@media (max-width: $screen-xxs-max) {
    .top-panel h1{
        color: $white;
        font-family: kaleko;
        font-size: 30px !important;
    }
}

// xs
@media (max-width: $screen-xs-max) {
    .top-panel h1{
        color: $white;
        font-family: kaleko;
        font-size: 40px;
    }
}

//sm
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
}

//md
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
}

//lg
@media (min-width: $screen-lg-min) {
}
