// Screen Resolutions

$screen-xxs-max: 450px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
$screen-xl-min: 1500px;


// Colours
$darkblue: #40c4dd;
$lightblue: #83d9e9; 
$white: #ffffff;
$lightgreen: #a7b93c;